<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
  <%-stylesheets%>
</head>
<body>

  <% include partials/header %>
  
  <!-- Content Wrapper. Contains page content -->
  <%-body -%>
  
  <% include partials/footer %>

  <% include partials/script -%>
  <%-scripts%>
</body>
</html>