<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../layouts/client/partials/head %>
  <%-stylesheets%>
</head>

<body>

  <% include ../../layouts/client/partials/header %>

  <%-body -%>

  <% include ../../layouts/client/partials/footer %>

  <% include ../../layouts/client/partials/script %>

</body>
  <%-scripts%>
</html>