<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <% include partials/header %>

  <% include partials/sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <%-body -%>
  
  <% include partials/footer %>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<% include partials/script -%>
</body>
</html>